/* general styling */
a, a:hover, a:focus {
	text-decoration: none;
}

a, a:focus, body {
	color: black;
}
/* navbar specific */
.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default a {
	color: white;

}

#navbar-collapse {
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default {
	border: none;
	width: 100%;	
	background-color: #eb2224;
	border-radius: 0;
	margin-left: none;
}

nav img {
	height: 20px;
	width: 20px;
}

/* tradelist forms */

.panel {
	border-top: 2px solid black;
}

.panel .panel-heading {
	font-size: 24px;
	text-transform: uppercase;
}

.content {
	padding: 15px;
}

#new-post label, #filters label {
	font-size: 12px;
}

.form-group h3 {
	padding-left: 15px;
}

/* tradelist */
.trade-search {
	margin-right: 15px;
}

/**/

.sprite {
	height: auto;
	width: 33%;
}

/* type coloring */
.poke-type {
	color: #fff;
}

.normal {
	background-color: #A8A77A;
}

.fire {
	background-color: #EE8130;
}

.water {
	background-color: #6390F0;
}

.electric {
	background-color: #F7D02C;
}

.grass {
	background-color: #7AC74C;
}

.ice {
	background-color: #96D9D6;
}

.fighting {
	background-color: #C22E28;
}

.poison {
	background-color: #A33EA1;
}

.ground {
	background-color: #E2BF65;
}

.flying {
	background-color: #A98FF3;
}

.psychic {
	background-color: #F95587;
}

.bug {
	background-color: #A6B91A;
}

.rock {
	background-color: #B6A136;
}

.ghost {
	background-color: #735797;
}

.dragon {
	background-color: #6F35FC;
}

.dark {
	background-color: #705746;
}

.steel {
	background-color: #B7B7CE;
}

.fairy {
	background-color: #D685AD;
}