/* general styling */
a, a:hover, a:focus {
	text-decoration: none;
}

a:hover {
	color: #7890a3;
}

a, body {
	color: black;
}

body {
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
}

/* jumbo */
.jumbotron {
	padding-top: 38px;
	color: #fff;
	background-color: #263238;
}

/* navbar specific */
.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default a {
	color: white;

}

#navbar-collapse {
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default {
	border: none;
	width: 100%;	
	background-color: #EF5350;
	border-radius: 0;
	margin-left: none;
}

nav img {
	height: 20px;
	width: 20px;
}

#logo_text {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

/* tradelist forms */

.panel-heading .panel-toggle:after {
    /* symbol for open panels */
    font-family: 'FontAwesome';
    content: "\f077";    
    float: right;
    color: black;
}

.panel-heading .panel-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f078";
}

.panel {
	border: none;
	border-radius: 0px;
	border-top: 2px solid #263238;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-body {
	border: none;
}
.panel, .panel .panel-heading {
	background-color: transparent;
}

.panel .panel-heading {
	border: none;
	letter-spacing: 5px;
	padding: 0 0 12px;
}

.panel .panel-heading a {
	display: block;
	font-size: 24px;
}

.content {
	padding: 15px;
}

#new-post label, #filters label {
	font-size: 12px;
}

.form-group h3 {
	padding-left: 15px;
}

/* tradelist */
.trade-search {
	padding-right: 15px;
	margin-top: 25px;
}
/* trade modal */
.modal-header {
	color: #fff;
	background-color: #EF5350;
}

.username {
	color: ;
}

.score {
	color: #FF8100;
}

/* type coloring */
.poke-type {
	color: #fff;
}

.normal {
	background-color: #A8A77A;
}

.fire {
	background-color: #EE8130;
}

.water {
	background-color: #6390F0;
}

.electric {
	background-color: #F7D02C;
}

.grass {
	background-color: #7AC74C;
}

.ice {
	background-color: #96D9D6;
}

.fighting {
	background-color: #C22E28;
}

.poison {
	background-color: #A33EA1;
}

.ground {
	background-color: #E2BF65;
}

.flying {
	background-color: #A98FF3;
}

.psychic {
	background-color: #F95587;
}

.bug {
	background-color: #A6B91A;
}

.rock {
	background-color: #B6A136;
}

.ghost {
	background-color: #735797;
}

.dragon {
	background-color: #6F35FC;
}

.dark {
	background-color: #705746;
}

.steel {
	background-color: #B7B7CE;
}

.fairy {
	background-color: #D685AD;
}