<div class="modal-header">
  <h2 class="modal-title">Respond to proposal from <span class="username">{{trade.offer.username}}</span></h3>
</div>
<div class="modal-body">
	<div>
		<div class="row">
			<div class="col-sm-6">
				<h3>Your Pokemon</h3>
				<p>{{trade.request.pokemon.species}} - Level {{trade.request.pokemon.level}}</p>
			<div class="col-sm-6">
				<h3>{{trade.offer.username}}'s Pokemon</h3>
				<p>{{trade.offer.pokemon.species}} - Level {{trade.offer.pokemon.level}}</p>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" type="button" ng-disabled="tradeForm.$invalid" ng-click="acceptProposal(trade.$id)">Accept</button>
	<button class="btn btn-danger" type="button" ng-click="declineProposal()">Decline</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>