<header role="banner" class="jumbotron">
	<div class="text-center">
		<h1>{{user.userData.username}}</h1>
	</div>
</header>
<main role="main">
	<section role="region" class="container" ng-show="user.uid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="user-profile#inventory" class="panel-toggle collapsed" data-toggle="collapse">Your Pokémon</a>
			</div>
			<div id="inventory" class="collapse panel-body">
				<div class="pokemon col-sm-6 col-md-4" ng-repeat="pokemon in user.pokemon">
					<div class="thumbnail">
						<img ng-src="{{imageForPokemon(pokemon.species)}}" alt="Your Pokémon">
						<div class="caption">
							{{pokemon.species}} - Level {{pokemon.level}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section ng-show="user.uid" class="container" role="region">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="user-profile#proposed" class="panel-toggle collapsed" data-toggle="collapse">Proposed to You</a>
			</div>
			<div id="proposed" class="collapse panel-body">
				<div id="proposed-table" class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>User</th>
								<th>Offering</th>
								<th>Seeking Your</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="trade in pendingTrades | filter : {'request': {'userid': user.uid}}" ng-hide="!user.uid">
								<td><a>{{trade.offer.username}}</a></td>
								<td>{{trade.offer.pokemon.species}} - Level {{trade.offer.pokemon.level}}</td>
								<td>{{trade.request.pokemon.species}} - Level {{trade.request.pokemon.level}}</td>
								<td>
									<button ng-show="user.uid === trade.request.userid" class="btn btn-danger" ng-click="tradeResponse(trade)">Respond to Trade</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
    <section ng-show="user.uid" id="yourProposals" class="container" role="region">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="user-profile#proposals" class="panel-toggle collapsed" data-toggle="collapse">Your Proposals</a>
			</div>
			<div id="proposals" class="collapse panel-body">
				<div id="yourProposals-table" class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Other User</th>
								<th>Trading For</th>
								<th>Offering Your</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="trade in pendingTrades | filter : {'offer': {'userid': user.uid}}" ng-hide="!user.uid">
								<td><a>{{trade.request.username}}</a></td>
								<td>{{trade.request.pokemon.species}} - Min Level {{trade.request.pokemon.level}}</td>
								<td>{{trade.offer.pokemon.species}} - Level {{trade.offer.pokemon.level}}</td>
								<td>
									<button ng-show="user.uid === trade.offer.userid" class="btn btn-danger" ng-click="cancelProposal(trade.$id)">Cancel Proposal</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<section ng-show="user.uid" id="yourPosts" class="container" role="region">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="user-profile#posts" class="panel-toggle collapsed" data-toggle="collapse">Your Board Posts</a>
			</div>
			<div id="posts" class="collapse panel-body">
				<div id="yourProposals-table" class="table-responsive">
					<table class="table table-hover">
					<thead>
						<tr>
							<th>Seeking</th>
							<th>Offering Your</th>
							<th>Notes</th>
							<th>Posted</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="post in tradelist | orderBy: '-timestamp'" ng-hide="!user.uid || user.uid !== post.userid">
							<td>{{post.seeking.species}} - Min Level {{post.seeking.minLevel}}</td>
							<td>{{post.offering.species}} - Level {{post.offering.level}}</td>
							<td>{{post.seeking.notes}}</td>
							<td>{{post.timestamp | date : 'short'}}</td>
							<td>
								<button class="btn btn-danger" ng-click="removeTrade(post.$id)">Remove Trade</button>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</section>
</main>

</main>
